body{
    font-family: 'Secular One', sans-serif;
    font-size: 26px;
}

div{
    border: 3px solid black;
}

span{
    color:blue;
    font-weight: bold;
}

.sec{
    color:green
}

.danger{
    color:red;
}